table{
	border: 1px solid #000000;
	border-collapse: collapse;
	border-spacing: 0;
}

th, td{
	padding: 8px 16px;
	border: 1px solid #000000;
	text-align: left;
}

th{
	background-color: #f7f7f7;
	color: #5c6b77;
	font-weight: 600;
}
